@import '/src/assets/sassStyles/variables';

.cta__container {
  max-width: 1140px;
  margin: 0 auto;
}

.cta__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding: 2em 0 4em;
  color: $primary-color;
  background-color: $secondary-color;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  h2 {
    font-size: 1.9em;
    font-family: $primary-font;
    font-weight: bold;
  }
  p {
    font-family: $primary-font;
  }
  button {
    padding: 0.5em;
    width: 200px;
  }
}
