@import "/src/assets/sassStyles/variables";

#featured {
  padding: 50px 0;
  background-color: $secondary-color;
  button {
    margin-top: 80px;
    position: relative;
    top: 40px;
  }
  h1 {
    font-family: $secondary-font;
    font-size: 4em;
    font-weight: bold;
    color: $tertiary-color;
  }
  h5 {
    text-transform: uppercase;
    color: $quaternary-color;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: $tertiary-font;
  }
  h6 {
    color: $primary-color;
    font-size: 1.5em;
    margin-bottom: -0.8em;
  }
  p {
    font-size: 1em;
    font-family: $primary-font;
    color: $tertiary-color;
    margin-bottom: 2em;
  }
  svg {
    color: $primary-color;
    font-size: 1.5em;
    margin-right: 0.5em;
  }
}

.featured__container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.featured__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.featured__row__wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.featured__title {
  font-weight: 700;
  text-transform: uppercase;
}

.featured__media__container {
  display: flex;
  justify-content: space-between;
}
.featured__media {
  display: flex;
  align-items: flex-start;
}
.featured__media__body {
  flex: 1;
}

.featured__button {
  margin-left: 0;
}

.featured__big {
  position: absolute;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  border-style: none;
  width: 88%;
  height: auto;
}

.featured__small {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 25px 0 0;
  background-color: #fff;
  vertical-align: middle;
  border-style: none;
  width: 50%;
  height: auto;
}

@media (min-width: 992px) {
  .featured__img {
    display: block;
    height: 100%;
    position: relative;
  }
  .featured__big {
    width: 100%;
  }
}

// ************responsivness
// @media (min-width: 1200px) {
//   .header__container {
//     max-width: 1140px;
//   }
// }
// @media (min-width: 992px) {
//   .header__container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 768px) {
//   .header__container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 576px) {
//   .header__container {
//     max-width: 540px;
//   }
// }
