@import "/src/assets/sassStyles/variables";

#header {
  position: absolute;
  z-index: 1000;
  opacity: 0.9;
  width: 100%;
  background-color: $secondary-color;
  a {
    color: $quaternary-color;
    text-decoration: none;
  }
  font-family: $primary-font;
}

.header__icon {
  display: inline-flex;
  color: $primary-color;
}

.header__icon__data {
  padding-left: 0.3em;
  &:hover {
    color: $primary-color;
    transition: all 0.2s ease-in-out;
  }
}

.header__login {
  span {
    font-size: 1.1em;
  }
}

.header__container {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}

.header__top {
  display: flex;
  flex-direction: column;
  padding: 25px 0 15px;
}

.header__contact {
  font-size: 0.8em;
  padding-bottom: 1em;
}

.header__tel {
  padding-right: 30px;
}

.header__nav__top {
  display: flex;
  align-items: center;
}

.header__login {
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 25px;
  text-transform: uppercase;
}

.header__social {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  li:not(:last-child) {
    padding-right: 1em;
  }
  a {
    font-size: 1em;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid $primary-color;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #fff !important;
      background-color: $primary-color;
    }
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__navbar__bottom {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.8em;
}

.header__brand {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.7em;
  img {
    width: 100%;
    height: auto;
  }
}

.header__nav__link {
  display: block;
  padding: 0.5rem 1rem;
  position: relative;

  // link underline hover animation
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background-color: $primary-color;
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  }
}
// link underline hover animation
@media (hover: hover) and (pointer: fine) {
  .header__nav__link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

// ************responsivness
@media (min-width: 1200px) {
  .header__container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__contact {
    font-size: 0.8em;
    padding-bottom: 0em;
  }
  .header__bottom {
    padding: 10px 0;
  }
  .header__navbar__bottom {
    font-size: 0.875em;
  }
}

// @media (min-width: 768px) {
//   .header__container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 576px) {
//   .header__container {
//     max-width: 540px;
//   }
// }
